// Specific CSS for your home-page

  .navbar {
    background-color: #1f4d27;

}
.gray-text {
  color: white;
}

.carousel-img{
  display: block;
  width: 50%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;

}
