.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.profile-image {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-name {
  margin-top: 20px;
  font-size: 24px;
}

.profile-details {
  margin-top: 20px;
  font-size: 16px;
}

.profile-info {
  margin: 5px 0;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

