 <h1 class="text-center">Editing a pet</h1>

<%= render "form", pet: @pet %>

<br>

<div>
  <%= link_to "Show this pet", @pet , class: "btn btn-success " %> |
  <%= link_to "Back to pets", pets_path, class: "btn btn-success "%>
</div>
