<p style="color: green"><%= notice %></p>

<h1>pets</h1>

<div id="pets">
  <%= link_to "Add a new pet", new_pet_path, class: 'btn btn-primary' %>
  <% @pets.each do |pet| %>
    <%= render pet %>
    <p>
      <%= link_to "Show this pet", pet %>
    </p>
  <% end %>
</div>
