.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  margin-left: 30px;
}

.otter-logo {
  font-size: 40px;
}

.logo-text {
  margin-bottom: 0;
  margin-left: 10px;
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
}

.navbar-links-box {
  min-width: 240px;
  text-align: end;
}
